
body {
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
  color:#40514E;

}

a{
  text-decoration:none;
}

a:hover{
  color:#EAF6F6;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size:5.625rem; /*1 rem = 16px, not affected by parent font-size settings, but scalable when user modifies text size browser settings*/
  margin-top:2.6rem;
  color:#66BFBF;
  line-height:2;/*relative to the font size*/
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
}

h3,a{
  color:#11999E;
}

hr{
  border-top:10px dotted lightgrey;
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
  height:0px;
  width:10%;
}

.middle-container{
  margin-bottom:50px;
}
.top-container {
  background-color:#E4F9F5;
  position:relative;
  padding-top:100px;

}

.bottom-container{
  background-color:#66BFBF;
  padding-top:50px;
  padding-bottom:50px;
}

#profile-picture {
  width:300px;
  height:auto;
}

.pro{
  text-decoration:underline;
}

.top-cloud{
  position:absolute;
  right:500px;
  top:50px;
}

.bottom-cloud{
  position:absolute;
  left:500px;
  bottom:300px;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height:2;
}

.college-img {
  width:15%;
  float:left;
  margin-right:30px;
}

.giphy{
  width:25%;
  float:right;
  margin-left:30px;

}

.contact-me{
  clear:right;
}

.pancake{
  clear: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  margin-right:50px;
}

.copyright{
  color:#EAF6F6;
  font-size:0.75rem;
}
